.container {
    position: fixed;
    bottom: 0rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 4.5rem;
    width: 100%;
    background-color: #0C0F14;
    margin-top: -1px;
    margin-bottom: -1px;
    opacity: 0.96;
}

.icons {
    height: 1.5rem;
    opacity: 0.96;
}
